@charset "UTF-8";

/*==================================*/
/* Global Styles                    */
/*==================================*/
html, body {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, li {
  font-family: 'Abel', sans-serif;
}

p {
  font-size: 0.9em;
}

a:link, a:visited, a:hover, a:active  { text-decoration: none; }

ul li {
  list-style: none;
  display: inline-block;
  opacity: 0.85;
  font-size: 1.55em;
}

li+li {
  margin-left:.3em;
}

li:hover { opacity: 1; }

/* for embedded vimeo clips */
iframe {
  width: 393px;
  height: 222px;
  frameborder: 0;
}

#page {
  min-height: 100%; /* for sticky footer */
  height: 100%;  /* for sticky footer in Internet Explorer */
  position: relative;
  /*background-color: #facade;*/
}

/*=========================================*/
/*Container*/ /*vital Styles, do not delete on refactor without first checking all */
/*=========================================*/
#main-container {
  min-height: 100%;
  padding-top: 5.5em;
  /* for sticky footer, padding-bottom must remain the same as the footer's height */
  padding-bottom: 8em;
  /*background-color: #facade;*/
  margin: 0 auto;
}

/*=========================================*/
/* Header/Footer                           */
/*=========================================*/
#header, #footer {
  background-color: rgb(50, 50, 50);
  color: white;
}

#header {
  position:fixed;
  width: 100%;
  z-index: 100;
  height: 5.5em;
}

.ul-wrapper { margin-top: 1.55em; }

#footer {
  position: relative;
  text-align: center;
  bottom: 0px;
  height: 8em;
  clear: both;
  width: 100%;
}

#footer li:nth-child(even) {
  padding-top: ;
  margin-top: ;
  position: relative;
  top:0.25em;
}
#footer ul {
  position: relative;
  top: 26px;
}

/*=========================================*/
/* Content/Container Divs                  */
/*=========================================*/
.row.home {
  height: 600px;
}

#home-container-left {
  top: 20%;
}

#travis-img {
  padding-top: 56px;
  position: relative;
  left: 86px;
}

.work {
  margin-top: 15px;
}

/* So left columns align w/ title & nav ul */
.col-md-5.col-md-offset-1,
.col-md-4.col-md-offset-1 {
  /*background-color: green;*/
  padding-left: 4em;
  height:inherit;
}

/* So right columns align on collapse */
.col-md-3.right-column {
  padding-left: 4em;
}

#main-container-col-right {
  overflow: hidden;
}

/*========================================*/
/* Title                                  */
/*========================================*/
#title {
  border-bottom: 1px dotted black;
}

#title-div {
  height: 4em;
}

#nested-title-div {
  padding-left: 4em;
}


/*========================================*/
/* Fade-In and Fade-Out Animations        */
/*========================================*/
.display-true {
  opacity: 1;
  transition: opacity 1.0s ease-out;
  -ms-transition: opacity 1.0s ease-out;
  -moz-transition: opacity 1.0s ease-out;
  -webkit-transition: opacity 1.0s ease-out;
}

.display-false {
  opacity: 0;
  transition: opacity 1.0s ease-out;
  -ms-transition: opacity 1.0s ease-out;
  -moz-transition: opacity 1.0s ease-out;
  -webkit-transition: opacity 1.0s ease-out;
}

/*========================================*/
/* Development Helpers                    */
/*========================================*/

/*.red {
  background-color: red;
}*/
