@charset "UTF-8";

/*==================================*/
/* Global Styles                    */
/*==================================*/
html, body {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, li {
  font-family: 'Abel', sans-serif;
}

p {
  font-size: 1.1em;
}

a:link, a:visited, a:hover, a:active  { text-decoration: none; }

ul li {
  list-style: none;
  display: inline-block;
  opacity: 0.85;
  font-size: 1.35em;
}

li+li {
  margin-left:.3em;
}

li:hover { opacity: 1; }


#page {
  min-height: 100%; /* for sticky footer */
  height: 100%;  /* for sticky footer in Internet Explorer */
  position: relative;
  /*background-color: #facade;*/
}

/*=========================================*/
/*Container*/ /*vital Styles, do not delete on refactor without first checking all */
/*=========================================*/
#main-container {
  min-height: 100%;
  padding-top: 5.5em;
  /* for sticky footer, padding-bottom must remain the same as the footer's height */
  /*padding-bottom: 8em;*/
  /*background-color: #facade;*/
  margin: 0 auto;
}

/*=========================================*/
/* Header/Footer                           */
/*=========================================*/
#header, #footer {
  background-color: rgb(50, 50, 50);
  color: white;
}

#header {
  position:fixed;
  width: 100%;
  z-index: 100;
  height: 5em;
}

.ul-wrapper { margin-top: 1.55em; }

#footer {
  position: relative;
  text-align: center;
  bottom: 0px;
  height: 8em;
  clear: both;
  width: 100%;
}

#footer li:nth-child(even) {
  padding-top: ;
  margin-top: ;
  position: relative;
  top:0.25em;
}

#footer ul {
  position: relative;
  top: 26px;
}

#footer li img {
  width: 93%;
}

/*=========================================*/
/* Content/Container Divs                  */
/*=========================================*/
.row.home {
  margin-top: 6.5em;
}

#home-hello {
  padding-left:4em;
}

#picture-container {
  position: relative;
  bottom: 0px;
}

#hello {
  position: relative;
  top: 1.5em;
}

#travis-img {
  padding-top: 56px;
  position: relative;
  left: 86px;
}

.work {
  margin-top: 15px;
  margin-bottom: 3em;
}

.work-media {
  border: 1px solid black;
  width: 392px;
  height: 222px;
}

.work-media div:hover {
  height: 222px;
}

#granulr-sprite {
  background-image: url("../../images/granulr-img-sprite.jpg");
}

#insight-journal-sprite {
  background-image: url("../../images/insight-journal-img-sprite.png");
}

#granulr-sprite, #insight-journal-sprite {
  transition: background-position 0.7s ease;
}

#granulr-sprite:hover, #insight-journal-sprite:hover {
  background-position: 0 -223px;
}

.work-title {
  text-decoration: underline;
}

/* for embedded vimeo clips */
iframe {
  width: 392px;
  height: 222px;
  frameborder: 0;
}
/* So left columns align w/ title & nav ul */
.col-md-3.col-md-offset-1,
.col-md-4.col-md-offset-1,
.col-md-5.col-md-offset-1,
.col-md-6.col-md-offset-1 {
  /*background-color: green;*/
  padding-left: 4em;
  /*height:inherit;*/
}

/* This is a hack */
/* I've given the vimeo videos a fixed width that hangs off the edge of 3 columns */
/* Giving the videos 4 columns pushed the titles/descriptions too far right */
/* This width applies to a spacer div in between media and title/description */
.grid-fix.col-md-1 {
  width: 11em;
  /*background-color: red;*/
}

/* So right columns align on collapse */
.col-md-3.right-column {
  padding-left: 4em;
  /*background-color: green;*/
}

#main-container-col-right {
  overflow: hidden;
}

/*========================================*/
/* Title                                  */
/*========================================*/
#title {
  border-bottom: 1px dotted black;
}

#title-div {
  margin-bottom: 2em;
  height: 4em;
}

#nested-title-div {
  padding-left: 4em;
}


/*========================================*/
/* Fade-In and Fade-Out Animations        */
/*========================================*/
.display-true {
  opacity: 1;
  transition: opacity 1.0s ease-out;
  -ms-transition: opacity 1.0s ease-out;
  -moz-transition: opacity 1.0s ease-out;
  -webkit-transition: opacity 1.0s ease-out;
}

.display-false {
  opacity: 0;
  transition: opacity 1.0s ease-out;
  -ms-transition: opacity 1.0s ease-out;
  -moz-transition: opacity 1.0s ease-out;
  -webkit-transition: opacity 1.0s ease-out;
}

/*========================================*/
/* Development Helpers                    */
/*========================================*/

/*.red {
  background-color: red;
}*/
