@charset "UTF-8";

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

* {
  -webkit-animation-duration: 0.5s; }

.fadeIn {
  -webkit-animation-name: fadeIn; }

.fadeOut {
  -webkit-animation-name: fadeOut; }

.not_visible {
  opacity: 0;
  display: none; }

/* Header and Footer*/
h1, h2, h3, h4, h5, h6, li {
  font-family: 'Abel', sans-serif; }

html, body {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

#page {
  min-height: 100%;
  height: 100%;  /* for Internet Explorer */
  position: relative;
  background-color: #facade;
}

#footer {
  position: absolute;
  bottom: 0px;
  height: 4em;
  /*clear: both;*/
  width: 100%;
}

/*div {
  height: 100%; }*/

img {
  height: 27%; }

#header, #footer { background-color: red; }

#header-nav-div { height: 100%; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:active {
  text-decoration: underline; }

#ul-wrapper {
  height: 50%;
  margin-top: 0.75em; }


ul {
  margin-top: 25%; }

ul li {
  list-style: none;
  display: inline-block;
  opacity: 0.75; }

ul li:before {
  content: "· "; }

ul li:hover {
  opacity: 1; }

li:first-child:before {
  content: ""; }

/*Container*/
#main-container {
  padding-bottom: 4em;
  background-color: #facade;
  margin: 0 auto;
}

.col-md-5.col-md-offset-1 {
  background-color: green;
  padding-left: 3em; }

#main-container-col-right {
  overflow: hidden;
}

#title {
  border-bottom: 1px dotted black;
  width: 2em; }

#hello {
  top: 25%; }

#title-div {
  height: 4em; }

#nested-title-div {
  padding-left: 4em;
  background-color: #facade; }

p.work {
  font-size: 0.75em; }

.display-true {
  opacity: 1;
  transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out; }

.display-false {
  opacity: 0;
  transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out; }

#travis-pic {
  height: 16em; }
